<div *ngIf="isLoading">Loading orders...</div>
<div *ngIf="errorMessage != null" class="error-message">{{ errorMessage }}</div>

<div *ngIf="orders != null && !isLoading; else noOrders">
  <h2>Orders</h2>
  <table>
    <thead>
    <tr>
      <th>Order ID</th>
      <th>Customer ID</th>
      <th>Total Amount</th>
      <th>Discount Amount</th>
      <th>Status</th>
      <th>Items</th>
      <th>View details</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders">
      <td>{{ order.id }}</td>
      <td>{{ order.customerId }}</td>
      <td>{{ order.totalAmount | currency }}</td>
      <td>{{ order.discountAmount | currency }}</td>
      <td>{{ order.orderStatus }}</td>
      <td>
        <ul>
          <li *ngFor="let item of order.orderItems">
            {{ item.productSku }} (Qty: {{ item.quantity }}) - {{ item.price | currency }}
          </li>
        </ul>
      </td>
      <td>
        <a [routerLink]="['/orders/', order.id]" class="text-bg-info rounded p-3 pt-2 pb-2 m-auto">View Details</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #noOrders>
  <div *ngIf="orders !=null && !isLoading && errorMessage == null">
    <p>No orders available.</p>
  </div>
</ng-template>
