<nav class="bg-dark text-light p-4 shadow-md">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Logo and navigation -->
    <div class="flex items-center space-x-6">
      <a
        [routerLink]=""
        class="text-white text-xl font-semibold hover:text-gray-300"
      >
        <img [src]="userImg" alt="MyStore Logo" class="h-8 w-auto"/>
      </a>

      <!-- Navigation Links -->
      <a
        [routerLink]="['']"
        class="text-gray-400 hover:text-white transition-colors duration-300"
        aria-label="Home"
      >
        Home
      </a>
      <a
        *ngIf="isAdmin"
        [routerLink]="['products/new']"
        class="text-gray-400 hover:text-white transition-colors duration-300"
        aria-label="New Product"
      >
        New Product
      </a>
      <a
        [routerLink]="['orders']"
        class="text-gray-400 hover:text-white transition-colors duration-300"
        aria-label="My orders"
      >
        Orders
      </a>
    </div>
    <div class="order-lg-last col-lg-5 col-sm-8 col-8">
      <div class="float-end">
        <a data-bs-toggle="offcanvas" [routerLink]="['orders/cart']" class="btn btn-light" style="margin-right: 10px;">
          <i class="fa fa-shopping-cart"></i> <span class="ms-1">My cart </span>
        </a>
        <a href="#" class="btn btn-light">
          <i class="fa fa-user"></i> <span class="ms-1 d-none d-sm-inline-block">Sign in  </span>
        </a>
      </div>
    </div>
  </div>
</nav>
